**/.venv
**/__pycache__

dataset
Peng_etal

**.pdf

resultats (legacy)
tiked (legacy)
tikzed

latex/**/*.log
latex/**/*.bbl
latex/**/*.blg
latex/**/*.bib
latex/**/*.pytxcode
latex/**/*.synctex.gz
latex/resultats (legacy)
latex/images (temp)



